div{
    border: 1px solid black;
    text-align: center;
    float: left;
    width: 33.3%;
    box-sizing: border-box;
    padding: 10px;
}
@media(max-width:800px){
    div{
        border: 1px solid black;
        text-align: center;
        float: left;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;}
}